# Python compiler cache
**/__pycache__/
*.pyc

# Local system application logs
logs/
*.log

# Sensitive raw and processed transaction data
fraud_data/
processed/
raw_data/
quarantine/

# Local environment variables
.env